/* blockquotes */
blockquote {
    background-color: lightsalmon;
    color: black;
    border-left: 10px solid salmon;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

